/* This file is for your main application css. */

html,body {
  height: 90%;
}

.container {
  height: 90%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.headingIndicator {
  stroke: true !important;
  color: "#56282D" !important;
  opacity: 0.8 !important;
}
.aircraftMarker {
  radius: 500 !important;
  stroke: true !important;
  color: "#56282D" !important;
  fill: true !important;
  fillColor: "#56282D" !important;
  opacity: 0.8 !important;
}
.flightPath {
  stroke: true !important;
  color: "#BDC667" !important;
  opacity: 0.4 !important;
}
